$bg_solido:rgba(221, 160, 221, 0.925);
$bg_transparente:rgba(221, 160, 221, 0.425);
$bg_caja1: linear-gradient(326deg, #861657 0%, #ffa69e 50%);
$bg_caja2: linear-gradient(160deg, #f8ceec 0%, #a88beb 74%);
$clr_fuente: rgb(97, 0, 97);

